
    <mat-sidenav-container class="example-container">
      <mat-sidenav mode="side" opened><app-filter-container></app-filter-container></mat-sidenav>
      <mat-sidenav-content>
        <div class="post-container">
          <mat-paginator [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
          <div class="post-list">
            <app-post-list></app-post-list>
          </div>
        </div>
        <router-outlet></router-outlet>
        
      </mat-sidenav-content>
    </mat-sidenav-container>  