<div class="editor-container">
  <form [formGroup]="editForm" (ngSubmit)="onSave()">
    <mat-form-field class="title" appearance="fill"
        floatLabel="true">
      <input matInput placeholder="Title" required formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="fill" class="date">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <label id="example-name-label" class="example-name-label">Mood </label>
    <mat-slider
      thumbLabel
      step="1"
      min="0"
      max="10"
      aria-valuenow="units"
      formControlName="mood"
      required
    >
    </mat-slider>
    <ckeditor 
      #myEditor
      [editor]="editor" 
      [data]="content">
    </ckeditor>
    <br>
    <button mat-flat-button color="primary" [disabled]="!editForm.valid">Save</button>
</form>
</div>    