
.editor-container {
    margin: 10px 100px;
}

mat-slider {
    width: 200px;
}

ckeditor {
    margin: 20px 20px;
}

.title {
    margin-right: 20px;
    width: 50%;
}

.date {
    margin-right: 20px;
    width: 25%
}

